<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello wolrd <%= 3+3 %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit rem ullam quibusdam dolorem, sequi nulla necessitatibus illo, qui ab consequuntur blanditiis, provident omnis architecto labore vitae cupiditate dolores atque accusamus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae blanditiis voluptatem provident excepturi aperiam iste tenetur nobis distinctio, nihil praesentium quaerat mollitia quasi quisquam ipsa unde, ea voluptas modi nam.</p>
    <h2>Hey this is your random number <%= rand %></h2>
    <% if(rand%2===0){%>
        <p> Its even number</p>
   <%  }else{%> 
    <p>Its an odd number</p>
  <%  }%> 
    
</body>
</html>